html,
body {
  overflow-x: hidden;
}

.ft-12 {
  font-size: 12px;
}
.ft-13 {
  font-size: 13px;
}
.ft-14 {
  font-size: 14px;
}
.ft-16 {
  font-size: 16px;
}

.ft-18 {
  font-size: 18px;
}

.ft-20 {
  font-size: 20px;
}
.ft-24 {
  font-size: 24px;
}
.ft-30 {
  font-size: 30px;
}

.bg-color-09a {
  background-color: #00f09a;
}

.bg-color-09a span {
  background-color: #00f09a !important;
  border: 1px solid #00f09a !important;
}

.agent-bg {
  background-color: #05173a !important;
}

.text-color-bca {
  color: #b3bbca;
}

.text-color-a3a {
  color: #212a3a;
}
.text-color-b94 {
  color: #858b94;
}
.text-color-09a {
  color: #00f09a;
}

a.text-color-b94:hover {
  color: #00f09a;
}

.text-black {
  color: #000;
}

a.text-black:hover {
  color: #00f09a;
}

.image-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
}

button.list_loader:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.cursor-pointer {
  cursor: pointer;
}
