html,
body {
  overflow-x: hidden;
}

.ft-12 {
  font-size: 12px;
}

.ft-14 {
  font-size: 14px;
}
.ft-16 {
  font-size: 16px;
}
.ft-20 {
  font-size: 20px;
}

.ft-30 {
  font-size: 30px;
}

.text-color-bca {
  color: #b3bbca;
}

.text-color-a3a {
  color: #212a3a;
}
.text-color-b94 {
  color: #858b94;
}

a.text-color-b94:hover {
  color: #00f09a;
}

.text-black {
  color: #000;
}

a.text-black:hover {
  color: #00f09a;
}
